.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialog {
    padding: 5px;
    display: flex;
    flex-direction: column;
    /*text-decoration: none;*/
}

.messages {
    padding: 10px;
}

.message {
    padding: 5px;
}
.active{
    color: gold;
}