.preloaderWrapper{
    position: relative;
    min-height: 600px;
}
.preloaderImageWrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.preloaderImg{
    max-width: 40px;
}
