.nav{
    grid-area:nav;
    padding: 0 10px;
}
.link{
    display:block;
    color:#575757;
    text-decoration: none;
    font-size: 18px;
    padding: 4px 6px;
    transition: color ease-in-out .15s;
}
/*.link+.link{
    padding: 4px 5px;
}*/
.link:not(.active){
    padding: 4px 6px 4px 9px;
}
.link:hover{

    background-color: #e6e7eb;
    /*border-left: 3px solid #b0b0b0;*/
}
.active{
    color: #b0b0b0;
    /*text-decoration: underline;*/
    border-left: 3px solid #b0b0b0;
    background-color: #e6e7eb;
}
.link:last-child {
    margin-top: 20px;
}


